:root {
    --main-color: #333;
    --text-color: #fff;
    --highlight-color: #ff00ff;
    --font-family: 'Roboto', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
  }
  
  body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color);
  }
  
  a, a:visited, a:focus, a:hover, a:active {
    color: var(--highlight-color);
  }
  
  button, input[type="button"], input[type="submit"] {
    cursor: pointer;
  }
  
  .header-contact, .footer-contact {
    color: var(--main-color);
  }
  
  .header-contact:hover, .header-contact:focus, .footer-contact:hover, .footer-contact:focus {
    color: var(--highlight-color);
  }
  
