
body {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: rgb(51, 51, 51);
    font-size: 16px;
     }

  .heder .footer, :focus {
    color: chartreuse;
  }

  .main :active {
    color:green
  }
 
  button,
  a {
    cursor: pointer;
  }
  
  button:active,
  button:focus,
  a:active,
  a:focus {
    color: #5a0c0c;
  }
  
  
  